.main-page-overview {
  background-image: url("../../assets/robot.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  width: 100%;
  height: 33vh;
  position: relative;
}

.main-page-overview__content {
  position: absolute;
  display: inline-block;
  opacity: 0.9;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 25%;
  color: black;
  font-size: 1rem;
  left: 0;
  bottom: 0;
}

.main-page-overview__content h1 {
  font-size: 1.6rem;
}

@media (max-width: 60rem) {
  .main-page-overview__content h1 {
    font-size: 1rem;
  }
}

.main-page-overview__content-text {
  text-align: center;
}

.main-page-overview__content-author {
  text-align: end;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .main-page-overview {
    height: 40vh;
    background-position: 70% 30%;
  }

  .main-page-overview__content h1 {
    font-size: 2rem;
  }
}

.starting {
  margin-top: 3rem;
  text-align: center;
}

.starting h1 {
  font-size: 3rem;
}

.courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: lightgray;
  padding-bottom: 3rem;
}

.course {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 20%;
  background-color: white;
}

.course:hover {
  box-shadow: 0 2px 8px #38015c;
}

.course-description__title {
  margin: 0.2rem;
    color: #38015c;
    font-size: 2rem;
}

.course-description__image-container img {
  height: 80%;
  width: 80%;
  vertical-align: middle;
}

.course-description__category-container {
  margin-top: 0.5rem;
  color: black;
  text-align: center;
  margin-bottom: 0.5rem;
}

.course-description__category-container .category-title {
  font-weight: bold;
}

.course-description__category-container .category-value {
  padding-left: 0.5rem;
}

.course-description__teacher-container {
  font-size: 0.9rem;
  text-align: end;
  padding-right: 1.7rem;
  color: #999;
}

.form {
  max-width: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form h1 {
  margin: 0 0 20px;
  text-align: center;
}

.form input {
  margin: 0 auto;
  width: 90%;
}

.loading-section {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: lightgray;
  min-height: 20rem;
}

.failed {
  color: red;
  margin: 1em;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.error {
  margin-bottom: 1em;
  color: red;
}

.success {
  color: green;
  margin-bottom: 1em;
}
