.course-details {
  margin: 3rem auto;
  text-align: center;
}

.course-details h1 {
  font-size: 3rem;
}

.filter-container {
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
}

.filter-container button {
  font: inherit;
  flex-grow: 1;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 0;
  box-shadow: 0 9px #999;
}

.filter-container button:hover {
  background-color: #c291e2;
  color: #38015c;
}

.filter-container button:active {
  background-color: #c291e2;
  color: #38015c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-active {
  background-color: #c291e2;
  color: #38015c;
  box-shadow: 0 5px #666;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgray;
}

.content-container__item {
  background-color: white;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  padding-top: 2.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 20%;
  min-width: 20rem;
}

.content-container__image-container img {
  height: 80%;
  width: 80%;
  vertical-align: middle;
}

.content-container__title {
  color: #38015c;
  font-size: 2rem;
}

.content-container__description {
  padding: 0.5rem;
  margin: 0 1rem;
  font-size: 1.1rem;
  text-align: center;
}

.content-container__date-container {
  font-size: 0.9rem;
  text-align: end;
  padding-right: 1.7rem;
  color: #999;
}

.content-container__item:hover {
  box-shadow: 0 2px 8px #38015c;
}

.content-container__horizontal {
  padding: 0;
  margin: 0;
  border: 3px solid black;
}

.exam {
  background-color: lightyellow;
}

.assignment {
  background-color: lightcyan;
}

.card {
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 50%;
}

.enroll-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}

.failed {
  color: red;
  margin: 1em;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.error {
  margin-top: 0.5rem;
  margin-bottom: 1em;
  color: red;
}

.success {
  color: green;
  margin-bottom: 1em;
}
