.questionDetails {
    margin: 3rem auto;
    text-align: center;
  }
  
  .questionDetails h1 {
    font-size: 3rem;
  }

  .question {
    cursor: pointer;
  }
  
  .card {
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 50%;
  }

  .text {
    padding: 1rem;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }