.meeting-courses {
    margin: 3rem auto;
    text-align: center;
  }
  
  .meeting-courses h1 {
    font-size: 3rem;
  }

  .courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: lightgray;
    margin-top: 1rem;
  }
  
  .course {
    background-color: white;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem;
    padding-top: 2.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 20%;
    min-width: 20rem;
  }
  
  .course:hover {
    box-shadow: 0 2px 8px #38015c;
  }

  .course__image-container img {
    height: 80%;
    width: 80%;
    vertical-align: middle;
  }
  
  .course-description__title {
    margin: 0.2rem;
      color: #38015c;
      font-size: 2rem;
  }
  
  .course-description__category-container {
    margin-top: 0.5rem;
    color: black;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .course-description__category-container .category-title {
    font-weight: bold;
  }
  
  .course-description__category-container .category-value {
    padding-left: 0.5rem;
  }
  
 .failed {
   color: red;
   margin: 1em;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
  
 .error {
   margin-bottom: 1em;
   color: red;
 }

 .success {
   color: green;
   margin-bottom: 1em;
 }