.meeting {
    margin: 3rem auto;
    text-align: center;
  }
  
  .meeting h1 {
    font-size: 3rem;
  }

  .card {
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 50%;
  }

  .text {
    padding: 1rem;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
  }

  .createMeetingForm {
    max-width: 400px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    margin: 20px auto;
    padding: 20px;
  }

  .failed {
    color: red;
    margin: 1em;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
   
  .error {
    margin-bottom: 1em;
    color: red;
  }
 
  .success {
    color: green;
    margin-bottom: 1em;
  }
