.grades {
  margin: 3rem auto;
  text-align: center;
}

.grades h1 {
  font-size: 3rem;
}

.card {
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 70%;
  position: relative;
  overflow-x: auto;
}

.grade-table {
  width: 100%;
}

 .failed {
   color: red;
   margin: 1em;
   font-size: large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
  
 .error {
   margin-bottom: 1em;
   color: red;
 }

 .success {
   color: green;
   margin-bottom: 1em;
 }

 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1rem;
  }
  