.lesson-details {
  margin: 3rem auto;
  text-align: center;
}

.lesson-details h1 {
  font-size: 3rem;
}

.card {
  position: relative;
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  width: 50%;
}

.text {
  padding: 1rem;
  margin: 0;
  text-align: left;
}

.create-content__form {
  max-width: 400px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  padding: 20px;
}

.lesson-content__files {
  padding-left: 1rem;
}

.lesson-content__file {
  display: flex;
  align-items: center;
  text-align: start;
}

.lesson-content__file_a {
  margin-right: 1rem;
}

.lesson-content__file-delete {
  text-decoration: underline;
  color: #0d6efd;
  cursor: pointer;
}

.lesson-content__file-delete:hover {
  color: blueviolet;
}

.delete-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  display: inline-block;
  color: red;
}

.delete-icon:hover {
  color: black;
}
